[Unit]
Description=tgbot
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/home/mihail/Документы/GitHub/first_repo/new/питон/bot/bin/python3 /home/mihail/Документы/GitHub/first_repo/new/питон/bot.py
