[Unit]
Description=Bot
After=syslog.target
After=network.target

[Service]
Type=simple
User=mihail
WorkingDirectory=/home/mihail/Документы/GitHub/first_repo/new/питон
ExecStart=/bin/bash /home/mihail/Документы/GitHub/first_repo/new/питон/start.sh
Restart=always

[Install]
WantedBy=multi-user.target
